
.wrap-recipe-detail{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

}
.recipe-detail {
    padding: .5rem;
    background-color: white;
    border-radius: $space-base * 2;
    position: relative;

    &__content {
        max-width: 1040px;
        max-height: 840px;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        gap: 4%;
        padding: 2.5rem 3rem 8rem;
    }

    &__title {
        width: 95%;
        font-size: 2.5rem;
        font-weight: 400;
        margin-block: 0 2.5rem;
        color: #1F4311;
    }

    &__subtitle {
        font-size: 1.25rem;
        font-weight: 500;
        color: $dark-green;
        margin-block: 1.5rem 1rem;
    }
    &__image-and-ingredients {
        width: 38%;
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1 / .85;
        border-radius: $space-base;
    }
    &__ingredients-list{
        padding: 0;
        margin: 0;
    }

    &__ingredient {
        position: relative;
        display: flex;
        padding-left: 1rem;
        padding: .25rem 0 .25rem 1rem;
        justify-content: space-between;
        font-size: 1rem;
        border-bottom: solid 1px #ddd;

        &::before {
            content: "\2219"; /*2022*/
            position: absolute;
            top: 4px;
            left: -2px;
            border-radius: 50%;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &__info {
        width: 58%;
        background-color: #EBF2E9;
        padding: 2.5rem;
        border-radius: $space-base;
        display: flex;
        flex-direction: column;
    }

    &__instructions{
        white-space: pre-wrap;
        text-wrap: pretty;
    }

    &__area{
        margin-top: auto;
        padding-top: 1.5rem;
    }

    &__footer {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        min-height: 80px;
        background-color: white;
        border-top: solid 1px #ddd;
        border-radius: 0 0 $space-base * 2 $space-base * 2;;
    }
}