@use "../globals" as *;
@use "../base" as *;

.body-bg {
    background-color: #F7F0DD;
}

.main {
    margin-inline: auto;

}

/*******************   top categories     ********************/
.wrap-categories {
    background-color: white;
}

.main-categories {
    margin-block: -5rem 0;
    padding-block: 10rem 4rem;
    padding-inline: $space-base;

    @include desktop {
        padding-inline: 0;
        padding-block: 11rem 4rem;
    }
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-base ;

    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0
    }
}

.category {
    background-color: #FAF8F0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //justify-content: space-around;
    padding: $space-base * 2;
    border-radius: $space-base * 3;


    &__title {
        font-size: 1.5rem;
        font-weight: 400;
        font-size: $font-size-base;
        width: 100%;
    }

    &__wrap-image {
        display: flex;
        align-items: center;
        gap: $space-base;
    }

    &__image {
        width: 60%;
        height: auto;
        aspect-ratio: 55 / 49;
        display: block;
        mix-blend-mode: darken;
        filter: saturate(1.3);
    }

    &__icon {
        padding: calc($space-base / 2);
        border-radius: 50%;
        background-color: #1F4311;
    }

    &__title-acent {
        font-weight: 500;
    }

    &:nth-child(1) &__title-acent {
        color: #E57600;
    }

    &:nth-child(2) &__title-acent {
        color: #609815;
    }

    &:nth-child(3) &__title-acent {
        color: #D18B00;
    }

    &:nth-child(4) &__title-acent {
        color: #B44193;
    }

    &:nth-child(5) &__title-acent {
        color: #EA4D8C;
    }

    &:nth-child(6) &__title-acent {
        color: #AB6509;
    }

    @include desktop {
        flex-wrap: nowrap;
        justify-content: space-around;

        &__title {
            width: auto;
        }

        &__image {
            width: 110px;
        }
    }
}


/*******************   top recipes     ********************/
.section__title {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-block: 0 0;
    display: inline-block;
    font-weight: 500;
    padding-inline: $space-base;
}

.section__subtitle {
    margin-block: .5rem 2rem;
    padding-inline: $space-base;
}

@include desktop {
    .section__title, .section__subtitle{
        padding-inline: 0;
    }
}
.main-recipes {
    padding-block: 4rem 8rem;
}

.recipes {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    gap: $space-base * 2;

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: $space-base * 3;
        overflow-x: initial;
    }
}

.recipe {
    background-color: white;
    padding: 1rem 1rem 0;
    border-radius: $space-base * 3;
    width: 71vw;
    flex-shrink: 0;

    &__top {
        position: relative;
        background-color: #111;


        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 45%;
            border-radius: 16px 16px 0 0;
            background: linear-gradient(180deg, rgba(37, 45, 35, 0.8), rgba(91, 109, 84, 0));
            mix-blend-mode: multiply;
        }

        &::after {
            top: auto;
            bottom: 0;
            transform: rotate(180deg);
        }
    }

    &__image {
        width: 100%;
        height: auto;
        aspect-ratio: 92/141;
        display: block;
        opacity: 0.95;
    }

    &__info {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25rem .75rem .75rem;
    }

    &__title {
        font-size: 1.25rem;
        line-height: 1.4;
        font-weight: 500;
        margin: 0;
        color: white;
    }

    &__info-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
    }

    &__button {
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 2rem;
        padding: 0.75rem 1.25rem;
        color: white;
        border: solid 1px rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(15px);
    }

    &__time {
        color: white;
        font-size: 0.9rem
    }

    &__icon {
        vertical-align: top;
        margin-inline: 0 $space-base;
    }

    &__bottom {
        font-size: 1rem;
        padding: $space-base * 2.5 0;
        color: #50545B;

        span {
            color: #E8C054;
            font-size: 1.25rem;
            line-height: 1;
        }
    }
    @include tablet {
        width: 35vw;
    }

    @include desktop {
        width: auto;
    }
}