@use "../globals" as *;


.btn-primary {
    cursor: pointer;
    background-color: $primary-color;
    color: $black-color;
    padding: $space-base * 1.75 $space-base * 5.5;
    letter-spacing: 0.02rem;
    border-radius: $space-base * 4;
    font-size: $font-size-base;
    font-weight: 500;
    border: none;

    &--small {
        padding: $space-base * 1.5 $space-base * 5;
        font-size: 1rem;
    }
}

.btn-secondary {

    $component: &;

    cursor: pointer;
    background-color: white;
    color: $black-color;
    padding: $space-base * 1.75 $space-base * 5.5;
    letter-spacing: 0.02rem;
    border-radius: $space-base * 4;
    font-size: $font-size-base;
    font-weight: 500;
    border: solid 1px #888;

    &--small {
        padding: $space-base * 1.5 $space-base * 5;
        font-size: 1rem;
    }
}