
@use "_variables" as *;
@use "_mixins" as *;

.u-max-width {
    max-width: $desktop-width;
    margin-inline: auto;
}
.u-separator {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
}
.u-hide {
    display: none;
}

.u-no-scroll {
    overflow: hidden;
    
    @include tablet {
        overflow: auto; 
    }
}